@{
	ViewData["Title"] = "Login Page";
	Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
@model SEC_UserModel
<!-- BEGIN LOGO -->
@*
<div class="logo">
    <h2 class="bold text-danger">Address Book</h2>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->

<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" method="post" asp-controller="SEC_User" asp-action="Login">
        <h3 class="form-title font-green">Sign In</h3>

        @if (TempData["Error"] != null)
        {
            <div class="text-danger">@Html.Raw(TempData["Error"]) </div>
        }
        <div class="row">
            <div class="form-floating col-4 align-center">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <input class="form-control" id="floatingInput" type="text" asp-for="UserName" placeholder="Enter Username" />
                <label for="floatingInput">&nbsp;&nbsp; User Name</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-floating col-4 align-center">
                <input class="form-control" id="floatingInput" type="password" asp-for="Password" placeholder="Enter Password" />
                <label for="floatingInput">&nbsp;&nbsp; Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-actions col-2 text-center align-center">
                <button type="submit" class="btn btn-dark-green">Login</button>
            </div>
        </div>
    </form>
    <!-- END LOGIN FORM -->
</div>*@


<style>
	body {
		font-family: Arial, sans-serif;
		background-color: #f0f0f0;
		padding: 0;
		margin: 0;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	form {
		background-color: #fff;
		border-radius: 8px;
		padding: 30px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		width: 350px;
	}
</style>

<div class="container">
    <form method="post" asp-controller="SEC_User" asp-action="Login">
        <h2 class="d-flex justify-content-center">Login Form</h2>
        @if (TempData["Error"] != null)
        {
            <div class="text-danger">@Html.Raw(TempData["Error"]) </div>
        }
        <div class="form-floating mb-7">
            <input type="text" id="floatingInput" class="form-control rounded-pill" asp-for="UserName" placeholder="Enter Username">
            <label for="floatingInput">Username</label>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-7">
            <input type="password" id="floatingInput" class="form-control rounded-pill" asp-for="Password" placeholder="Enter Password">
            <label for="floatingInput">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-center">
            <input type="submit" class="btn btn-success rounded-pill" value="Login" />
        </div>
	</form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
